{%extends 'base.html' %}
{%load static%}
{%block content%}
<main>
    {%if valid_email%}

        <h1>Account has been created!</h1>
    
    {%elif invalid_email%}

        <h1>Email is taken!</h1>

    {%else%}

        <h1>Create an account!</h1>

    {%endif%}
</br>

    <form action="" method="POST">

        {%csrf_token%}
        {{form.login.label_tag}} {{form.login}}
        {{form.password.label_tag}} {{form.password}}
        <input class = 'btn btn-primary' type="submit" value="Create">

    </form>
    <br>

    <!-- {%if invalid_email%}
        <h1>Email is taken!</h1>
    {%endif%} -->
    
    <img src="{%static 'wallet/pgb-chip-crypto-3.svg'%}">
</main>
{%endblock%}