
<html lang="en">
<head>

    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'wallet/home_css.css'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'wallet/favicon-32x32.png' %}">
    <title>CryptoWallet</title>

</head>

<body>
  <header>
      <h1 class="animated-text"><a href="{%url 'wallet:home' %}">CryptoWallet</a></h1>
      
      <nav>
          <ul>
              <li><a href="{%url 'wallet:home' %}">Home</a></li>
              <li><a href="{%url 'wallet:signin' %}">Register</a></li>
              <li><a href="{%url 'wallet:pricing' %}">Pricing</a></li>
          </ul>
      </nav>
  </header>
  
  {%block content%}

  {%endblock%}
  
</body>
</html>
